# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
generated

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
/reports*
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
/report.xml
*.cover
.hypothesis/
.pytest_cache/

# Unit test produced files
tests/mcu_examples/data/rt10xx/crts/CSF1_3_sha256_2048_65537_v3_usr_crt.der
tests/mcu_examples/data/rt10xx/crts/CSF1_3_sha256_2048_65537_v3_usr_crt.pem
tests/mcu_examples/data/rt10xx/crts/IMG1_3_sha256_2048_65537_v3_usr_crt.der
tests/mcu_examples/data/rt10xx/crts/IMG1_3_sha256_2048_65537_v3_usr_crt.pem
tests/mcu_examples/data/rt10xx/keys/CSF1_3_sha256_2048_65537_v3_usr_key.der
tests/mcu_examples/data/rt10xx/keys/CSF1_3_sha256_2048_65537_v3_usr_key.pem
tests/mcu_examples/data/rt10xx/keys/IMG1_3_sha256_2048_65537_v3_usr_key.der
tests/mcu_examples/data/rt10xx/keys/IMG1_3_sha256_2048_65537_v3_usr_key.pem

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/_prebuild/
docs/examples/**
docs/html_schemas/**
# docs examples are copied from spsdk/examples

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
examples/**/workspace

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env*
*env/
venv*
*venv/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache

# IDE
.idea
.vscode

# PyPI
pip-wheel-metadata

# incoming patches and diffs
*.patch
*.diff

# Mac stuff
.DS_Store

# loggin config
logging.yaml


# Git merge-conflict files
*.orig

# setuptools_scm version file
spsdk/__version__.py

# coverity stuff
idir
data-coverity
