[tool.black]
line-length = 100
target-version = ['py38', 'py39', 'py310', 'py311']
include = '\.pyi?$'
force-exclude = '''
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 100

[tool.mypy]
disallow_untyped_defs = true
ignore_missing_imports = true
warn_unused_ignores = true

[tool.pytest.ini_options]
junit_family = "xunit1"

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "raise NotImplementedError()",
    "raise SPSDKErrorImplemented()",
    "safe_main()",
    "sys.exit(main())",
]

[tool.coverage.run]
relative_files = true

[tool.pydocstyle]
convention = "google"
add_ignore = "D105,D301"
