asn1crypto>=1.2,<1.6
astunparse>=1.6,<1.7
bincopy>=17.14.5,<20.1
bitstring>=3.1,<4.2
click-option-group>=0.3.0,<0.6
click-command-tree<1.2
click>=7.1,<8.1.6,!=8.1.4
colorama>=0.4.6,<0.5
crcmod<1.8
cryptography>=42.0.0,<42.1
deepmerge<1.2
fastjsonschema>=2.15.1,<2.20
hexdump<3.4
libusbsio>=2.1.11,<2.2
oscrypto<1.4
platformdirs>=3.9.1,<4.2
prettytable>=3.0.0,<3.10
pylink-square>=1.0,<1.3
pyocd-pemicro>=1.1.5,<1.2
pyocd>=0.35.1,<0.37
pypemicro>=0.1.11,<0.2
pyserial>=3.1,<3.6
ruamel.yaml>=0.17,<0.19
requests>=2.0,<2.32
sly<0.6
typing-extensions<4.10
