# tox has to installed first
tox
-r requirements.txt
# testing
pyyaml
pytest
pytest-cov
voluptuous
jsonschema
# metrics
radon
mypy
pylint==2.4.4
pydocstyle
# docs
sphinx==2.4.1
sphinx_rtd_theme==0.5.0
sphinx-autodoc-annotation==1.0.post1
sphinx_autodoc_typehints==1.11.0
recommonmark
