asn1crypto>=1.2,<2
astunparse>=1.6,<2
bincopy<17.10
bitstring>=3.1,<3.2
click-option-group>=0.3.0,<0.6
click>=7.1,<8
colorama>=0.4.4,<1
commentjson>=0.9,<1
crcmod==1.7
cryptography>=3.4.4,<37
deepmerge==0.3.0
fastjsonschema >=2.15.1
hexdump~=3.3
jinja2>=2.11,<3.1
libusbsio>=2.1.10
oscrypto~=1.2
pycryptodome>=3.9.3,<4
pylink-square>=0.8.2,<0.11.9
pyocd-pemicro>=1.1.1,<1.2.0
pyocd>=0.28.3,<=0.31.0
pypemicro>=0.1.8,<0.2.0
pyserial>=3.1,<4
ruamel.yaml>=0.17,<0.18.0
sly==0.4
# There's an issue with 0.3.0 on win
# https://github.com/pyocd/cmsis-pack-manager/issues/176
cmsis-pack-manager<0.3.0
