# -*- coding: UTF-8 -*-
#
# Copyright 2020 NXP
# Author: Libor Ukropec
#
# Runtime hook as a workaround for pkg_resources entrypoints.
#
from typing import Any
ep_packages = {{packages}}

if ep_packages:
    import pkg_resources
    default_iter_entry_points = pkg_resources.iter_entry_points

    def hook_iter_entry_points(group: str, name: str=None) -> Any:
        """ Override pkg_resources.iter_entry_points with custom entries.
        See pkg_resources.iter_entry_points
        """
        if group in ep_packages and ep_packages[group]:
            eps = ep_packages[group]
            for ep in eps:
                parsedEp = pkg_resources.EntryPoint.parse(ep)
                parsedEp.dist = pkg_resources.Distribution()
                yield parsedEp
        else:
            return default_iter_entry_points(group, name)

    pkg_resources.iter_entry_points = hook_iter_entry_points
