# docs
sphinx<10
sphinx-book-theme
sphinx-autodoc-annotation
sphinx_autodoc_typehints
myst-parser
sphinx-click>=4.2.0
click<8.3; python_version == "3.10" # command object is not deep-copyable
json-schema-for-humans
pytablewriter
Pillow>=10.2.0
docutils<1
# jupyter notebook requirements
nbsphinx
ipykernel
myst-nb
# Redirection for non-existing files
sphinxext-rediraffe
# ---------------------------------------
