# fetch project dependencies
-r ../requirements.txt
# docs
sphinx<8.1.4
sphinx-book-theme
sphinx-autodoc-annotation
sphinx_autodoc_typehints
myst-parser
sphinx-click>=4.2.0
json-schema-for-humans
pytablewriter
Pillow>=10.2.0
docutils<0.21
# pyscard package is a requirement for TP
pyscard
# jupyter notebook requirements
nbsphinx
ipykernel
myst-nb
# Redirection for non-existing files
sphinxext-rediraffe
